{{ define "main" }}
<h1>{{ .Title }}</h1>

In this section I have a collection of notes and resources on different topics.
The notes are not final, they are always a working progress, where I can organize and accumulate knowledge.

<br />

<ul>
  {{ range $tag, $pages := .Site.Taxonomies.tags }}
    {{ $wikiPages := where $pages "Section" "wiki" }}
    {{ if gt (len $wikiPages) 0 }}
      <li>
        <strong>{{ $tag }} ({{ len $wikiPages }})</strong>
        <ul>
          {{ range $wikiPages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  {{ end }}
</ul>

{{ end }}
